{% extends 'base.html' %}
{% block head %}
  <title>Velocity Cart | OTP</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    form {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      border-radius: 8px;
      width: 300px;
      text-align: center; /* Center the content horizontally */
    }

    input {
      text-align:center;
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    button {
      background-color: #3498db;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }
     #error_message{
       color:red;
     }
  </style>
{% endblock %}
{% block body %}
  <form method="POST">
    {% csrf_token %}
    {% if otp %}
      <p>{{ otp }}</p>
    {% else %}
    <p id="error_message">{{ error_message }}</p>
    {% endif %}
    <input type="text" name="otp" placeholder="Enter OTP">
    <button type="submit">Submit</button>
  </form>
{% endblock %}
