{% load static %}
<br><br><hr><br><br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Contact Us</h3>
                    <p>Email: info@example.com</p>
                    <p>Phone: +92 1234567890</p>
                </div>
                <div class="col-md-6">
                    <h3>Follow us</h3>
                    <ul>
                        <a href="#"><img style="width:100px;" src="{% static 'images/linkedin.png' %}"></a>
                        <a href="#"><img style="width:100px;" src="{% static 'images/twitter.png' %}"></a>
                        <a href="#"><img style="width:80px;" src="{% static 'images/instagram.png' %}"></a>
                        <a href="#"><img style="width:100px;" src="{% static 'images/facebook.png' %}"></a>
                        <a href="#"><img style="width:80px;" src="{% static 'images/whatsapp.png' %}"></a>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
