{% extends 'base.html' %}

{% block head %}

  <title>Velocity Cart</title>

  <style>

    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      text-align: center;
    }


    h1 {
      color: #333;
      margin-top: 50px;
    }


    form {
      display: inline-block;
      margin-top: 20px;
    }


    input[type="text"] {
      display: none; /* Hide the input fields */
    }


    #yes {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }


    #no {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #ff0e0e;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }


    #yes:hover {
      background-color: #45a049;
    }


    #no:hover {
      background-color: red;
    }

  </style>

{% endblock %}

{% block body %}

  <h1>Are you sure?</h1><br>

  <form method="POST">

    {% csrf_token %}

    <input type="text" name="answer" value="yes">
    <button id="yes" type="submit">Yes</button>

  </form>


  <form method="POST">

    {% csrf_token %}

    <input type="text" name="answer" value="no">
    <button id='no' type="submit">No</button>

  </form>

{% endblock %}
