{% extends 'base.html' %}
{% block head %}
<title>Home | Velocity Cart</title>
{% endblock %}
{% block body %}
{% if product %}
{% if product.image1 %}
<img src="{{ product.image1.url }}">
<br>
{% elif product.image2 %}
<img src="{{ product.image2.url }}">
<br>
{% elif product.image2 %}
<img src="{{ product.image3.url }}">
<br>
{% elif product.image2 %}
<img src="{{ product.image4.url }}">
<br>
{% elif product.image2 %}
<img src="{{ product.image5.url }}">
<br>
{% elif product.image2 %}
<img src="{{ product.image6.url }}">
<br>
{% elif product.image2 %}
<img src="{{ product.image7.url }}">
<br>
{% elif product.image2 %}
<img src="{{ product.image8.url }}">
<br>
{% endif %}
<br>
<h1>{{ product.title }}</h1>
<br>
<strong>$ {{ product.price }}</strong>
<br><br>
{% else %}
<h2>Sorry products are not added yet!</h2>
{% endif %}
{% endblock %}
