{% extends 'base.html' %}
{% block head %}
<title>Velocity Cart</title>
{% endblock %}
{% block body %}
{% if products %}
{% for product in products %}
<a href="{% url 'Product_About_Page' product.id %}">
{% if product.image1 %}
<img src="{{ product.image1.url }}">
{% elif product.image2 %}
<img src="{{ product.image2.url }}">
{% elif product.image2 %}
<img src="{{ product.image3.url }}">
{% elif product.image2 %}
<img src="{{ product.image4.url }}">
{% elif product.image2 %}
<img src="{{ product.image5.url }}">
{% elif product.image2 %}
<img src="{{ product.image6.url }}">
{% elif product.image2 %}
<img src="{{ product.image7.url }}">
{% elif product.image2 %}
<img src="{{ product.image8.url }}">
{% endif %}
</a>
<h1>{{ product.title }}</h1>
<strong>$ {{ product.price }}</strong>
<br><br>
{% endfor %}
{% elif product_categoery %}
{% for product in product_categoery %}
<a href="{% url 'Product_About_Page' product.id %}">
{% if product.image1 %}
<img src="{{ product.image1.url }}">
{% elif product.image2 %}
<img src="{{ product.image2.url }}">
{% elif product.image2 %}
<img src="{{ product.image3.url }}">
{% elif product.image2 %}
<img src="{{ product.image4.url }}">
{% elif product.image2 %}
<img src="{{ product.image5.url }}">
{% elif product.image2 %}
<img src="{{ product.image6.url }}">
{% elif product.image2 %}
<img src="{{ product.image7.url }}">
{% elif product.image2 %}
<img src="{{ product.image8.url }}">
{% endif %}
</a>
<h1>{{ product.title }}</h1>
<strong>$ {{ product.price }}</strong>
<br><br>
{% endfor %}
{% else %}
<h2>Sorry products are not added yet!</h2>
{% endif %}
{% endblock %}
